body {
  font-family: Open Sans;
}

.container {
  max-width: 1200px;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  width: 100%;
}

.header__logo {
  display: block;
  width: 150px;
  height: 100px;
}

.main__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
}
